@import "accuracy";
@import "finish";
@import "login";
@import "index_error";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.login {
  background: #012b65 url("/img/Group\ 37874.svg") no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  &_bg img {
    position: absolute;
    width: 450px;
    top: 100px;
    left: 100px;
    transform: translate(-50px, 100px);
  }
}
.form_login {
  position: absolute;
  width: 589px;
  height: 649px;
  left: 750px;
  top: 80px;
  overflow: hidden;
  background: linear-gradient(154.01deg, rgba(37, 75, 134, 0.6) -4.68%, rgba(37, 75, 134, 0) 117.94%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
}
.logo {
  width: 55px;
  padding-bottom: 15px;
}
.from_login-text {
  text-align: center;
  padding: 15px;
}
h3 {
  color: #fff;
  padding: 10px;
}
span {
  color: #fff;
}
.desc {
  font-size: 25px;
  width: 100%;
  height: 35px;
  margin-right: 39px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #779dff;
  margin-bottom: 10px;
}

.btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: relative;
  margin-bottom: 20px;
  &-item-text {
    font-size: 12px;
    color: #cf6679;
  }
}
.left {
  position: absolute;
  left: 221px;
  color: #fff;
}
.right {
  position: absolute;
  right: 0;
  color: #fff;
}
.desc_btn {
  font-size: 25px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #779dff;
}
.button {
  width: 400px;
  height: 45px;
  text-align: center;
  background: linear-gradient(152.03deg, #1890ff -19.27%, #0069cc 109.91%);
  box-shadow: 0px 5px 25px rgba(24, 144, 255, 0.2), 0px 3px 0px rgba(24, 144, 255, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #fff;
}
.footer {
  padding-top: 30px;
  text-align: center;
}
label {
  color: #fff;
}
.footer-btn {
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding-top: 20px;
}
